<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwj.demo.dao.user.UserMapper">

    <resultMap id="userMap" type="com.hwj.demo.entity.User">
        <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="USERNAME" jdbcType="VARCHAR" property="userName" />
        <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
        <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
        <result column="USER_SEX" jdbcType="VARCHAR" property="userSex" />
        <result column="USER_TEL" jdbcType="VARCHAR" property="userTel" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID, USERNAME, PASSWORD, USER_EMAIL, USER_SEX, USER_TEL, STATUS, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="queryUser" resultMap="userMap">
        select * from user
    </select>

    <select id="queryUsers" resultType="map">
        select USERNAME "userName",USER_EMAIL "userEmail", USER_TEL "userTel"
        from user
    </select>

    <select id="queryUserById" resultMap="userMap">
        select * from user where userId = #{userId}
    </select>

    <select id="queryUserByAcount" parameterType="com.hwj.demo.entity.User" resultMap="userMap">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="userName != null">
                username = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>
